<?xml version="1.0"?>
<packages>
	<package id="cmder" />
	<package id="ruby" />
	<package id="ruby2.devkit" />
	<package id="golang" />
	<package id="devbox-rapidee" />
	<package id="curl" />
	<!-- <package id="elm-platform" /> -->
	<!-- <package id="GoogleChrome" /> -->
	<!-- <package id="sublimetext3" /> -->
	<!-- <package id="sublimetext3.packagecontrol" /> -->
	<!-- <package id="atom" /> -->

	<!-- <package id="nodejs" /> -->
	<!-- <package id="elixer" /> -->
	<!-- <package id="jdk8" /> -->

	<!-- <package id="git" /> -->
	<!-- <package id="7zip" /> -->

<!-- 	<package id="vagrant" />
	<package id="virtualbox" />
	<package id="boot2docker" />
 -->
	<!-- <package id="sourcetree" /> -->
	<!-- <package id="winscp" /> -->
	<!-- <package id="winmerge" /> -->

<!-- 	<package id="itunes" /> -->
<!-- 	<package id="audacity" /> -->
<!-- 	<package id="evernote" /> -->
<!-- 	<package id="markdownpad2" /> -->
<!-- 	<package id="wireshark" /> -->
<!-- 	<package id="dropbox" /> -->
<!-- 	<package id="gimp" /> -->
<!-- 	<package id="boot2docker" /> -->
<!-- 	<package id="adobereader" /> -->
<!-- 	<package id="graphviz" /> -->
<!-- 	<package id="vlc" /> -->
	<!-- <package id="wget" /> -->
</packages>
