<?xml version="1.0"?>
<packages>
	<package id="chocolateyGUI" />
	<package id="GoogleChrome" />
	<package id="vim" />
	<package id="curl" />
	<package id="ruby" />
	<package id="ruby2.devkit" />
	<package id="git" />
	<package id="7zip" />
	<package id="jdk8" />
	<package id="vagrant" />
	<package id="virtualbox" />
	<package id="virtualbox.extensionpack" />
	<package id="poshgit" />
	<package id="nodejs" />
	<package id="npm" />
	<package id="cmder" />
	<package id="sourcetree" />
	<package id="sublimetext3" />
	<package id="winscp" />
	<package id="wireshark" />
	<package id="winmerge" />
	<package id="itunes" />
	<package id="audacity" />
	<package id="evernote" />
	<package id="devbox-rapidee" />
	<package id="golang" />
	<package id="elm-platform" />
	<package id="markdownpad2" />
	<package id="jivkok.sublimetext3.packages" />
</packages>
